
ul {

  list-style-type: none;
  margin: 0;
  padding: 5px 6px;
  overflow: hidden;
  background-image: url('../img/slika3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2b310a;
}
.kont1{

  text-align: center;
  font-size: 40px;
  font-style: italic;
  color:black;
}
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#tabs {
    float:left;
    width:100%;
    background:#FCF1F6;
    font-size:93%;
    line-height:normal;
    border-bottom:1px solid #76e2a3;
    }
  
  #tabs ul {
    margin:0;
    padding:10px 10px 0 50px;
    list-style:none;
    }
  
  #tabs li {
    display:inline;
    margin:0;
    padding:0;
    }
  #naziv{
font-size: 25px;
font-style: italic;

  }
  #tabs a {
    float:left;
    background:url("tableft.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
    }
  
  #tabs a span {
    float:left;
    display:block;
    background:url("tabright.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#333;
    }
  
 
  #tabs a span {float:none;}
  
 
  #tabs a:hover span {
    color:#591333;
    }
  
  #tabs a:hover {
    background-position:0% -42px;
    }
  
  #tabs a:hover span {
    background-position:100% -42px;
    }
  .close {
    font-size: 1.5rem;
  }
  .h1{
    position: center;
  }
  
  div.gallery img{
    width: 80px ;
    height: 60px;
    position: center;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
  }


@media  screen and (min-width: 320px) and (max-width: 425px)
{

    ul {

        list-style-type: none;
        margin: 0;
        padding: 5px 6px;
        overflow: hidden;
        background-image: url('../img/slika3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    li {
        margin: 0;
        display: block;
        margin-bottom: 3px;
    }
    
    li a {
        display: block;
        padding: 10px;
        text-align: center;
    }
    
    li a:hover {
        background-color: #2b310a;
    }
}
@media  screen and (min-width: 768px) and (max-width: 1024px)
{

    ul {

        list-style-type: none;
        margin: 0;
        padding: 5px 6px;
        overflow: hidden;
        background-image: url('../img/slika3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    li {
        margin: 0;
        display: block;
        margin-bottom: 3px;
    }
    
    li a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 30px;
    }
    
    li a:hover {
        background-color: #2b310a;
    }
}